{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <!-- <link rel="stylesheet" type="text/css" href='{%static "\styles\main_admin_dash\admin_productos.css"%}'> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="icon" type="image" href='{% static "img/LOGOS/logo 1 redim.png"%}'>
</head>

<body>
    <button class="waves-effect waves-light btn"><a href="/admin_dash">Volver</a></button>

    <h1>Administración de clientes y dudas</h1>
    <table class="striped centered responsive-table">
        <thead>
            <tr>
                <th>Información del cliente</th>
                <th>Comentario realizado</th>
            </tr>
        </thead>

        <tbody>
            {%for consultas in consultas_en_db%}
            <tr>
                <td>{{consultas.con_cli_per_id}}</td>
                <td>{{consultas.con_comentario}}</td>
                {% if permisos_eliminacion %}
                <td><button class="waves-effect waves-light red btn"><a href="/eliminar_consulta/{{consultas.id}}">Eliminar</a></button></td>
                {% else %}
                <td><button class="waves-effect waves-light red btn" disabled><a href="">Eliminar</a></button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>

    </table>

</body>