{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link rel="stylesheet" type="text/css" href='{%static "\styles\Empleados/empleados.css"%}'>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="icon" type="image" href='{% static "img/LOGOS/logo 1 redim.png"%}'>
</head>

<body>
    <button class="waves-effect waves-light btn"><a href="/employees_administration">Volver</a></button>
    <h1>Actualización de empleados</h1>

    <div class="col s4">
        <div>
            <form action="/actualizar_empleado/{{usuario.id}}" method="POST">
                {% csrf_token %}
                    <div class="row input-field">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input id="id_user_act" disabled value="{{usuario.id}}" type="number" name="id_user_act" class="validate" required>
                        <label for="id_user_act">ID</label>
                    </div>

                   <div class="row input-field">
                       <i class="material-icons prefix">assignment_ind</i>
                       <input id="new_user_first_name" disabled value="{{usuario.first_name}}" type="text" name="new_user_first_name" class="validate" required>
                       <label for="new_user_first_name">Nombre</label>
                   </div>

                   <div class="row input-field">
                       <i class="material-icons prefix">assignment</i>
                       <input id="new_user_last_name" value="{{usuario.last_name}}" type="text" name="new_user_last_name" class="validate" required>
                       <label for="new_user_last_name">Apellido</label>
                   </div>

                   <div class="row input-field">
                       <i class="material-icons prefix">email</i>
                       <input id="new_user_email" value="{{usuario.email}}" type="email" name="new_user_email" class="validate" required>
                       <label for="new_user_email">Correo electrónico</label>
                   </div>

                   <div class="row input-field">
                       <i class="material-icons prefix">person</i>
                       <input id="new_username" disabled value="{{usuario.username}}" type="text" name="new_username" class="validate" required>
                       <label for="new_username">Usuario</label>
                   </div>
                   <br>
                   <div class="checkboxes">
                    <h3>Seleccione los permisos del usuario</h3>
                    <div class="row input-field">
                        {% for permiso in permisos%}
                            {% if permiso in permisos_usuario%}
                                <input type="checkbox" id="mycheck" checked="checked" name="{{permiso}}" value="{{permiso}}"><label id="labels_check" for="mycheck">{{permiso}}</label>
                                <br>
                            {% else %}
                                <input type="checkbox" id="mycheck" name="{{permiso}}" value="{{permiso}}"><label id="labels_check" for="mycheck">{{permiso}}</label>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </div>

                   </div>
                   
                   
                <button class="waves-effect waves-light btn"><input type="submit"></button>
            </form>
        </div>
</body>