{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dora Bisutería</title>
    <link rel="stylesheet" type="text/css" href='{%static "styles/INDEX/index.css"%}'>
    <link rel="icon" type="image" href='{% static "img/LOGOS/logo 1 redim.png"%}'>
</head>

<body>

    <script>
        let contador = 0;
        function hacer_click(){
            if (contador == 0){
                const $menu = document.querySelector("ul");
                $menu.style.display = "block";
                contador = 1;
            }
            else{
                const $menu = document.querySelector("ul");
                $menu.style.display = "none";
                contador = 0;
            }
        }
        function confirmacion(){
            alert("Información enviada con exito.");
        }
    </script>

    <header>

        <img class="logo_superior" src="{%static 'img/LOGOS/logo 1 redim.png'%}" alt="Logo de dora bisuteria">

        <nav>
            
            <input type="checkbox" class="chequeo" id="menu-toogle" onclick="hacer_click()"> <!--Casilla para que el menú se despliegue-->
            <label for="menu-toogle" class="menu-toogle" ></label>
            <ul style="z-index: 2; display: block;" id="ul">
                <li id="inicio"><a href="../HTML/index.html">Inicio</a></li>
                <li id="nosotros"><a href="../HTML/nosotros.html">Nosotros</a></li>
                <li id="productos"><a href="../HTML/productos.html">Productos</a></li>
                <li id="comprar"><a href="../HTML/comprar.html">Comprar</a></li>
            </ul>

        </nav>
    </header>
        
    <main>
        <section class="main_landing" style="z-index: 1;">
            <div id="titulos_principales">
                <h2>
                    TIENDA DE ACCESORIOS <br> DORA BISUTERÍA
                </h2>
                <p>VISTE BIEN, VISTE A LA MODA USA DORA BISUTERÍA</p>
                <a href="./productos.html">
                    <input id="boton" type="submit" value="Ver Productos">
                </a>
            </div>
            <img id="imagen_principal" src="{%static 'img/CABECERA/cabecera sin fondo.png'%}">
        </section>
        <section class="elegir_productos">
            <article>
                <div id="titulos">
                    <h1>¿Porqué elegir nuestros productos?</h1>
                    <p>Los productos de Dora Bisutería se caracterizan por ser</p>
                </div>
            </article>
            <article class="caracteristicas_contenedor">
                <div id="caracteristica">
                    <img id="imagen" src="{%static 'img/ELEMENTOS/PQ ELEGIR NUESTROS PRODUCTOS/1.png'%}" alt="modernos">
                    <h3>Modernos</h3>
                    <p>Nuestros productos son <br> modernos y únicos.</p>
                </div>
                <div id="caracteristica">
                    <img src="{%static 'img/ELEMENTOS/PQ ELEGIR NUESTROS PRODUCTOS/2.png'%}" alt="">
                    <h3>Alta Calidad</h3>
                    <p>Nuestros productos son fabricados con <br> los mejores productos del mercado.</p>
                </div>
                <div id="caracteristica">
                    <img src="{%static 'img/ELEMENTOS/PQ ELEGIR NUESTROS PRODUCTOS/3.png'%}" alt="">
                    <h3>Hechos con amor</h3>
                    <p>Nuestros productos son hechos <br> con amor y ternura.</p>
                </div>
            </article>
        </section>
        <section class="contactanos">
            <div id="contenedor_form">
                <div id="formulario">
                    <p>Formulario de contacto</p>
                    <form action="/send_info" method="post">
                        {% csrf_token %}
                        <ul>
                            <li>
                                <label for="nombre">Nombre:</label>
                                <br>
                                <input type="text" id="nombre" name="nombre" required>
                            </li>
                            <br>
                            <li>
                                <label for="apellido">Apellido:</label>
                                <br>
                                <input type="text" id="apellido" name="apellido" required>
                            </li>
                            <br>
                            <li>
                                <label for="correo">Correo electrónico:</label>
                                <br>
                                <input type="email" id="correo" name="correo" required>
                            </li>
                            <br>
                            <li>
                                <label for="texto">Ingresa tu duda o sugerencia:</label>
                                <br>
                                <textarea id="duda" name="duda" rows="4" cols="30" placeholder="Ingresa tu duda pregunta sugerencia o petición" required></textarea>
                            </li>
                            <br>
                            <li>
                                <input type="checkbox" required> <label>He leido y acepto los términos y condiciones</label>
                            </li>
                            <br>
                            <li>
                                <input type="submit" id="boton">
                            </li>
                        </ul>
                    </form>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>    
                {% endif %}
                <div id="texto">
                    <img src="{%static 'img/ELEMENTOS/CONTACTANOS/ELEMENTO1.png' %}" alt="elemento decorativo">
                    <h2>¡Contáctanos!</h2>
                    <p>Llena el siguiente formulario y nos podremos en contacto contigo.</p>
                </div>
            </div>
        </section>
        <section class="redes_sociales">
            <div id="contenedor_redes">
                <div id="parrafo_redes">
                    <img src="{%static 'img/ELEMENTOS/REDES/R1.png'%}">
                    <h2>Nuestras redes sociales</h2>
                    <p>Acá podrás encontrar los enlaces a nuestras redes sociales
                        para que puedas conocer más acerca de nosotros y animarte a 
                        comprar.
                    </p>
                </div>
                <div id="contenedor_enlaces">
                    <h4>Redes Sociales</h4>
                    <img src="{%static 'img/ELEMENTOS/REDES/ig.png'%}">
                    <a href="">@dorabisuteria</a>
                    <br>
                    <br>
                    <img src="{%static 'img/ELEMENTOS/REDES/fb.png'%}">
                    <a href="">@</a>
                    <br>
                    <br>
                    <img src="{%static 'img/ELEMENTOS/REDES/ps.png'%}">
                    <a href="">@</a>
                </div>
            </div>
        </section>
        <section class="opiniones">
            <h2>Opiniones de nuestros compradores</h2>
            <p>Reseñas de nuestros compradores acerca de nuestros productos</p>
            <div id="contenedor_opiniones">
                <div id="op1">
                    <h5>N1</h5>
                    <p>Opinion </p>
                </div>
                <div id="op2">
                    <h5>N2</h5>
                    <p>Opinion </p>
                    
                </div>
                <div id="op3">
                    <h5>N3</h5>
                    <p>Opinion </p>
                    
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div id="footer">
            <div id="politicas">
                <h2>Políticas de privacidad</h2>
                <ul>
                    <li><a href="">Términos y condiciones</a></li>
                    <li><a href="">Disclaimer</a></li>
                    <li><a href="">Habeas data</a></li>
                    <li><a href="">Cookies</a></li>
                </ul>
            </div>
            <div id="Imagen_footer">
                <img id="img_foot" src="{%static 'img/ELEMENTOS/FINAL/Elementos pie de pagina.png'%}">

            </div>

        </div>
    </footer>
</body>
</html>