{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dora Bisutería</title>
    <link rel="stylesheet" type="text/css" href='{%static "styles/nosotros/nosotros.css"%}'>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="icon" type="image" href='{% static "img/LOGOS/logo 1 redim.png"%}'>
</head>

<body>

    <header>

        <img class="logo_superior" src="{%static 'img/LOGOS/logo 1 redim.png'%}" alt="Logo de dora bisuteria">

        <nav>
            <input type="checkbox" class="chequeo" id="menu-toogle" > <!--Casilla para que el menú se despliegue onclick="hacer_click()""-->
            <label for="menu-toogle" class="menu-toogle" ></label>
            <ul style="z-index: 2; display: block;" id="ul">
                <li id="inicio"><a href="/index">Inicio</a></li>
                <li id="nosotros"><a href="/nosotros">Nosotros</a></li>
                <li id="productos"><a href="/productos">Productos</a></li>
            </ul>
        </nav>

        <h1>Aprende un poco más acerca de nosotros</h1>
        <div class="main_cont">
            <div class="card">
                <div class="card-image">
                    <img src='{%static "img\ELEMENTOS\NOSOTROS\MISION.png"%}'>
                    <span class="card-title">Misión</span>
                </div>
                <div class="card-content">
                    <p>Ser un negocio único en la ciudad con productos exclusivos y de calidad.</p>
                </div>
            </div>
    
            <div class="card">
                <div class="card-image">
                    <img src='{%static "img\ELEMENTOS\NOSOTROS\vision.jpg"%}'>
                    <span class="card-title">Visión</span>
                </div>
                <div class="card-content">
                    <p>Dentro de 10 años nos vemos como un negocio consolidado ante la cámara de 
                        comercio y la Dian. Además, esperamos que Dora Bisutería sea algo más que una tienda 
                        de accesorios si no un estilo de vestir. </p>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src='{%static "img\ELEMENTOS\NOSOTROS\sena.png"%}'>
                    <span class="card-title">SENA</span>
                </div>
                <div class="card-content">
                    <p>El presente sitio se hace con el fin de obtener 
                        el título de técnicos en programación de aplicaciones y servicios 
                        para la nube ofertado por el SENA.
                    </p>
                </div>
            </div>

        </div>
    </header>
</body>
