{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dora Bisutería</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="icon" type="image" href='{% static "img/LOGOS/logo 1 redim.png"%}'>
    <link rel="stylesheet" type="text/css" href='{%static "styles/productos/productos.css"%}'>
</head>

<body>

    <header>

        <img class="logo_superior" src="{%static 'img/LOGOS/logo 1 redim.png'%}" alt="Logo de dora bisuteria">

        <nav>
            <input type="checkbox" class="chequeo" id="menu-toogle" > <!--Casilla para que el menú se despliegue onclick="hacer_click()""-->
            <label for="menu-toogle" class="menu-toogle" ></label>
            <ul style="z-index: 2; display: block;" id="ul">
                <li id="inicio"><a href="/index">Inicio</a></li>
                <li id="nosotros"><a href="/nosotros">Nosotros</a></li>
                <li id="productos"><a href="/productos">Productos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Ver nuestros productos</h1>
        <div class="productos">
            <!-- <div class="col s4 m7"> -->
                {% for productos in productos_en_db %}
                <div class="card">
                    <div class="card-image">
                        <img src={{productos.pro_img.url}}>
                        <span class="card-title">{{productos.pro_nombre}}</span>
                    </div>
                    <div class="card-content">
                        <p>Stock: {{productos.pro_stock}}</p>
                        <p>Precio: {{productos.pro_precio}}</p>
                        <p>Contáctanos para recibir más información</p>
                    </div>
                    <div class="card-action">
                        <button class="waves-effect waves-light btn"><a href="/contactanos/{{productos.pro_id}}">Contáctanos</a></button>
                    </div>
                </div>
                {% endfor %}
            <!-- </div> -->
        </div>
    </main>
</body>
    