<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dora Bisutería</title>
    <link rel="stylesheet" href="../STYLES/productos/productos.css">
</head>
<body>
    <header>
        <img class="logo_superior" src="../IMAGENES/LOGOS/logo 1 redim.png" alt="Logo de dora bisuteria">
        <nav>
            <ul>
                <li id="inicio"><a href="../HTML/index.html">Inicio</a></li>
                <li id="nosotros"><a href="../HTML/nosotros.html">Nosotros</a></li>
                <li id="productos"><a href="../HTML/productos.html">Productos</a></li>
                <li id="comprar"><a href="../HTML/comprar.html">Comprar</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>