@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
body {
  background-color: #F9F9F9;
  color: #303031;
  padding: 15px;
}

.logo_superior {
  float: left;
  padding: 15px;
}

header nav #ul li {
  display: inline;
  margin-right: 2rem;
}

header nav #ul {
  list-style-type: none;
  float: right;
  display: block;
}

header nav a:link {
  text-decoration: none;
  color: #303031;
  font-weight: 500;
}

header nav a:visited {
  text-decoration: none;
  color: #303031;
  font-weight: 500;
}

header nav #ul #comprar a:link {
  color: #71A894;
  font-weight: bold;
}

header nav #ul #comprar a:visited {
  color: #71A894;
  font-weight: bold;
}

.chequeo {
  visibility: hidden;
}

header nav #ul #inicio::before {
  content: "";
  position: absolute;
  transition-duration: 0.7s;
  background-color: #fff !important;
  height: 5px;
  width: 41px;
  top: 55px;
  margin-inline-start: 12px;
}

header nav #ul #inicio:hover::before {
  content: "";
  position: absolute;
  transition-duration: 0.7s;
  background-color: #71A894;
  height: 5px;
  width: 41px;
  top: 55px;
  margin-inline-start: 12px;
}

header nav #ul #nosotros::before {
  content: "";
  position: absolute;
  transition-duration: 0.7s;
  background-color: #fff !important;
  height: 5px;
  width: 41px;
  top: 55px;
  margin-inline-start: 12px;
}

header nav #ul #nosotros:hover::before {
  content: "";
  position: absolute;
  transition-duration: 0.7s;
  background-color: #71A894;
  height: 5px;
  width: 67px;
  top: 55px;
  margin-inline-start: 12px;
}

header nav #ul #productos::before {
  content: "";
  position: absolute;
  transition-duration: 0.7s;
  background-color: #fff !important;
  height: 5px;
  width: 75px;
  top: 55px;
  margin-inline-start: 12px;
}

header nav #ul #productos:hover::before {
  content: "";
  position: absolute;
  transition-duration: 0.7s;
  background-color: #71A894;
  height: 5px;
  width: 75px;
  top: 55px;
  margin-inline-start: 12px;
}

header nav #ul #comprar::before {
  content: "";
  position: absolute;
  transition-duration: 0.7s;
  background-color: #fff !important;
  height: 5px;
  width: 66px;
  top: 55px;
  margin-inline-start: 12px;
}

header nav #ul #comprar:hover::before {
  content: "";
  position: absolute;
  transition-duration: 0.7s;
  background-color: #71A894;
  height: 5px;
  width: 66px;
  top: 55px;
  margin-inline-start: 12px;
}

.main_landing {
  position: absolute;
  margin-top: 7vmax;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
}

#titulos_principales {
  font-family: Roboto;
  margin-top: 8vmax;
  float: left;
}

#imagen_principal {
  float: right;
}

#boton {
  background-color: #71A894;
  border: none;
  border-radius: 8px;
  color: white;
  height: 45px;
  width: 250px;
}

#boton:hover {
  color: rgb(255, 255, 255);
  box-shadow: 2px 4px 16px 2px #71A894;
  transition: all 0.2s ease;
}

.elegir_productos {
  width: 95%;
  margin-top: 50vmax;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.elegir_productos #titulos {
  font-weight: 700;
  font-family: Roboto;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.elegir_productos .caracteristicas_contenedor {
  display: flex;
  justify-content: space-between;
}

.elegir_productos .caracteristicas_contenedor #caracteristica {
  align-content: center;
  text-align: center;
  margin: 0 7vmax 0 7vmax;
}

.contactanos {
  width: 95%;
  margin-top: 105vmax;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.contactanos #contenedor_form {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.contactanos #contenedor_form #formulario {
  padding: 15px;
  margin-top: 15px;
  width: 40%;
  border: 2px solid #303031;
  border-radius: 22px;
  list-style-type: none;
  background-color: #F3F0EA;
}

.contactanos ul {
  list-style-type: none;
  padding-left: 5px;
}

.contactanos p {
  margin: 12px;
}

.contactanos #formulario p {
  font-family: Roboto;
  font-weight: bold;
}

.contactanos #texto {
  width: 45%;
}

.contactanos #texto h2 {
  font-family: Abel;
}

.contactanos #texto p {
  font-family: Roboto;
}

.contactanos #formulario label {
  font-family: Roboto;
}

.contactanos #contenedor_form #formulario ul li #nombre {
  font-size: 16px;
  margin-top: 5px;
  outline: 0;
  width: 80%;
  background-color: #F3F0EA;
  color: #64696d;
}

.contactanos #contenedor_form #formulario ul li #apellido {
  font-size: 16px;
  margin-top: 5px;
  outline: 0;
  width: 80%;
  background-color: #F3F0EA;
  color: #64696d;
}

.contactanos #contenedor_form #formulario ul li #correo {
  font-size: 16px;
  margin-top: 5px;
  outline: 0;
  width: 80%;
  background-color: #F3F0EA;
  color: #64696d;
}

.contactanos #contenedor_form #formulario ul li #duda {
  width: 80%;
}

.redes_sociales #contenedor_redes #contenedor_enlaces {
  border: 2px solid #303031;
  border-radius: 22px;
  background-color: #F3F0EA;
  font-family: Roboto;
}

.redes_sociales #contenedor_redes {
  display: flex;
  justify-content: space-around;
}

.redes_sociales {
  width: 95%;
  margin-top: 175vmax;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.redes_sociales #contenedor_redes #parrafo_redes {
  width: 45%;
}

.redes_sociales #contenedor_redes #contenedor_enlaces {
  padding: 15px;
  width: 30%;
}

.redes_sociales #contenedor_redes #conteneror_enlaces a:link {
  text-decoration: none;
  color: #303031;
  font-weight: 500;
}

.redes_sociales #contenedor_redes #conteneror_enlaces a:visited {
  text-decoration: none;
  color: #303031;
  font-weight: 500;
}

.opiniones #contenedor_opiniones {
  display: flex;
  justify-content: space-around;
}

.opiniones {
  width: 95%;
  margin-top: 210vmax;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.opiniones h2 {
  font-family: Abel;
  font-weight: 600;
}

.opiniones p {
  font-family: Roboto;
}

.opiniones #contenedor_opiniones #op1 {
  border: 2px solid #fff;
  border-radius: 22px;
  width: 28%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 6px 0px #ced4da;
  text-align: left;
}

.opiniones #contenedor_opiniones #op2 {
  border: 2px solid #fff;
  border-radius: 22px;
  width: 28%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 6px 0px #ced4da;
  text-align: left;
}

.opiniones #contenedor_opiniones #op3 {
  border: 2px solid #fff;
  border-radius: 22px;
  width: 28%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 6px 0px #ced4da;
  text-align: left;
}

.footer {
  position: relative;
  margin-top: 250vmax;
}

.footer #footer {
  align-content: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.footer #footer #politicas {
  width: 75%;
}

.footer #footer #politicas h2 {
  font-family: Abel;
  font-weight: 600;
}

.footer #footer #politicas ul {
  list-style-type: none;
}

.footer #footer #politicas ul li a:link {
  text-decoration: none;
  color: #303031;
  font-weight: 500;
}

.footer #footer #politicas ul li a:visited {
  text-decoration: none;
  color: #303031;
  font-weight: 500;
}

.footer #footer #Imagen_footer {
  width: 75%;
}

@media screen and (max-width: 565px) {
  header nav #ul #inicio::before {
    content: "";
    position: absolute;
    transition-duration: 0.7s;
    background-color: #71A894;
    height: 5px;
    width: 0px;
    top: 55px;
    margin-inline-start: 12px;
  }
  header nav #ul #inicio:hover::before {
    content: "";
    position: absolute;
    transition-duration: 0.7s;
    background-color: #71A894;
    height: 5px;
    width: 0px;
    top: 55px;
    margin-inline-start: 12px;
  }
  header nav #ul #nosotros::before {
    content: "";
    position: absolute;
    transition-duration: 0.7s;
    background-color: #71A894;
    height: 5px;
    width: 0px;
    top: 55px;
    margin-inline-start: 12px;
  }
  header nav #ul #nosotros:hover::before {
    content: "";
    position: absolute;
    transition-duration: 0.7s;
    background-color: #71A894;
    height: 5px;
    width: 0px;
    top: 55px;
    margin-inline-start: 12px;
  }
  header nav #ul #productos::before {
    content: "";
    position: absolute;
    transition-duration: 0.7s;
    background-color: #71A894;
    height: 5px;
    width: 0px;
    top: 55px;
    margin-inline-start: 12px;
  }
  header nav #ul #productos:hover::before {
    content: "";
    position: absolute;
    transition-duration: 0.7s;
    background-color: #71A894;
    height: 5px;
    width: 0px;
    top: 55px;
    margin-inline-start: 12px;
  }
  header nav #ul #comprar::before {
    content: "";
    position: absolute;
    transition-duration: 0.7s;
    background-color: #71A894;
    height: 5px;
    width: 0px;
    top: 55px;
    margin-inline-start: 12px;
  }
  header nav #ul #comprar:hover::before {
    content: "";
    position: absolute;
    transition-duration: 0.7s;
    background-color: #71A894;
    height: 5px;
    width: 0px;
    top: 55px;
    margin-inline-start: 12px;
  }
}
@media screen and (max-width: 1500px) {
  #imagen_principal {
    width: 45%;
  }
}
@media screen and (max-width: 1155px) {
  #imagen_principal {
    width: 35%;
  }
}
@media screen and (max-width: 940px) {
  #imagen_principal {
    visibility: hidden;
  }
}
@media screen and (max-width: 1100px) {
  .elegir_productos {
    margin-top: 40vmax;
  }
}
@media screen and (max-width: 985px) {
  .elegir_productos {
    margin-top: 55vmax;
  }
}
@media screen and (max-width: 750px) {
  .elegir_productos .caracteristicas_contenedor {
    display: inline;
  }
}
@media screen and (max-width: 1040px) {
  .contactanos #contenedor_form #formulario ul li #boton {
    width: 15rem;
  }
}
@media screen and (max-width: 985px) {
  .contactanos {
    margin-top: 120vmax;
  }
}
@media screen and (max-width: 875px) {
  .contactanos {
    margin-top: 135vmax;
  }
}
@media screen and (max-width: 750px) {
  .contactanos {
    margin-top: 195vmax;
  }
  .contactanos #contenedor_form {
    display: inline;
  }
  .contactanos #contenedor_form {
    display: inline-flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contactanos #contenedor_form #formulario {
    width: 95%;
  }
}
@media screen and (max-width: 985px) {
  .redes_sociales {
    margin-top: 200vmax;
  }
}
@media screen and (max-width: 875px) {
  .redes_sociales {
    margin-top: 230vmax;
  }
}
@media screen and (max-width: 750px) {
  .redes_sociales #contenedor_redes {
    display: inline;
  }
  .redes_sociales {
    margin-top: 345vmax;
  }
  .redes_sociales #contenedor_redes {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 985px) {
  .opiniones {
    margin-top: 245vmax;
  }
}
@media screen and (max-width: 875px) {
  .opiniones {
    margin-top: 275vmax;
  }
}
@media screen and (max-width: 750px) {
  .opiniones #contenedor_opiniones {
    display: inline;
  }
  .opiniones {
    margin-top: 450vmax;
  }
  .opiniones #contenedor_opiniones {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .opiniones #contenedor_opiniones #op1 {
    width: 200%;
    transform: translate(-50%);
    margin-top: 20px;
  }
  .opiniones #contenedor_opiniones #op2 {
    width: 200%;
    transform: translate(-50%);
    margin-top: 20px;
  }
  .opiniones #contenedor_opiniones #op3 {
    width: 200%;
    transform: translate(-50%);
    margin-top: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .footer {
    margin-top: 255vmax;
  }
}
@media screen and (max-width: 985px) {
  .footer {
    margin-top: 295vmax;
  }
}
@media screen and (max-width: 875px) {
  .footer {
    margin-top: 325vmax;
  }
}
@media screen and (max-width: 985px) {
  .footer #footer #Imagen_footer #img_foot {
    width: 45%;
  }
}
@media screen and (max-width: 750px) {
  .footer #footer {
    display: inline;
  }
  .footer {
    margin-top: 570vmax;
  }
}/*# sourceMappingURL=index.css.map */