@use "../DEFAULT/custom";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin elementos_admin($box-shadow){
    width: 30%;
    box-shadow: $box-shadow;
    transition: 0.3s;
    padding: 2px;
    background-color: #64AAE3;
    font-family: Roboto;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-radius: 5px;
}

body{
    background-color: #64D2E3;
}

button a{
    color: white;
}

h1{
    font-family: Roboto;
    font-size: medium;
}

.contenedor_opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    flex-direction: row;
}

.contenedor_opciones #cont1{
    @include elementos_admin(4px 4px 8px 0 rgba(0,0,0,0.2));
}
.contenedor_opciones #cont2{
    @include elementos_admin(4px 4px 8px 0 rgba(0,0,0,0.2));
}
.contenedor_opciones #cont3{
    @include elementos_admin(4px 4px 8px 0 rgba(0,0,0,0.2));
}
.contenedor_opciones #cont4{
    @include elementos_admin(4px 4px 8px 0 rgba(0,0,0,0.2));
}
.contenedor_opciones #cont5{
    @include elementos_admin(4px 4px 8px 0 rgba(0,0,0,0.2));
}

.contenedor_opciones #cont1:hover{
    @include elementos_admin(8px 8px 16px 0 rgba(0,0,0,0.2));
}
.contenedor_opciones #cont2:hover{
    @include elementos_admin(8px 8px 16px 0 rgba(0,0,0,0.2));
}
.contenedor_opciones #cont3:hover{
    @include elementos_admin(8px 8px 16px 0 rgba(0,0,0,0.2));
}
.contenedor_opciones #cont4:hover{
    @include elementos_admin(8px 8px 16px 0 rgba(0,0,0,0.2));
}
.contenedor_opciones #cont5:hover{
    @include elementos_admin(8px 8px 16px 0 rgba(0,0,0,0.2));
}
